@import url('https://fonts.googleapis.com/css?family=Quicksand|Nunito+Sans|Roboto|Righteous|Lato:900');

* {
  font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.ios ion-nav > .ion-page > ion-content.statusbar-padding:first-child[padding] .scroll-content, .ios ion-nav > .ion-page > ion-content.statusbar-padding:first-child[padding-top] .scroll-content, .ios ion-nav > .ion-page > ion-header > ion-content.statusbar-padding:first-child[padding] .scroll-content, .ios ion-nav > .ion-page > ion-header > ion-content.statusbar-padding:first-child[padding-top] .scroll-content, .ios ion-tab > .ion-page > ion-content.statusbar-padding:first-child[padding] .scroll-content, .ios ion-tab > .ion-page > ion-content.statusbar-padding:first-child[padding-top] .scroll-content, .ios ion-tab > .ion-page > ion-header > ion-content.statusbar-padding:first-child[padding] .scroll-content, .ios ion-tab > .ion-page > ion-header > ion-content.statusbar-padding:first-child[padding-top] .scroll-content, .ios ion-tabs > .ion-page.tab-subpage > ion-header > ion-content.statusbar-padding:first-child[padding] .scroll-content, .ios ion-tabs > .ion-page.tab-subpage > ion-header > ion-content.statusbar-padding:first-child[padding-top] .scroll-content, .ios ion-menu > .menu-inner > ion-content.statusbar-padding:first-child[padding] .scroll-content, .ios ion-menu > .menu-inner > ion-content.statusbar-padding:first-child[padding-top] .scroll-content, .ios ion-menu > .menu-inner > ion-header > ion-content.statusbar-padding:first-child[padding] .scroll-content, .ios ion-menu > .menu-inner > ion-header > ion-content.statusbar-padding:first-child[padding-top] .scroll-content {
  padding: 0;
}

.back-button-text {
  display: none;
}


.rowTime {
  background-color: color($colors, shadeOne);
  ion-label {
    color: color($colors, shadeTwo);
    margin: 2px 5px;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 0.3px;
  }
}




@keyframes paddingShift {
  0% {
    padding: 12px 20px;
  }
  50% {
    padding: 12px 40px;
  }
  100% {
    padding: 12px 20px;
  }
}



.rowHeading {

  @include cardify();
  ion-col {
    padding: 5px;
  }
  button {
    border: none;
    color: color($colors, dark);
    padding: 10px 15px;
    border-radius: 8px;
    margin: 0 2px;
    font-size: 12px;
    background: color($colors, light);
  }
  button:hover {
    @include hover-inverse();
  }

  .notifications-badge {
    background-color: red;
    position: absolute;
    top: 1px;
    right: 3px;
    font-size: 14px;
    color: red;
  }

  .fullImageView {
    box-sizing: border-box;
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.75);
    img {
      width: 100%;
    }
  }
}

.submit-button {
  width: 95%;
  display: block;
  margin: 10px auto;
  border-radius: 10px;

}





