/* Mixins -------------------------------------------*/


@mixin enable-scroll-bar() {
  ::-webkit-scrollbar {
    display: inherit;
    width: 7px;
    cursor: pointer !important;
    transition: 0.1s;
  }
  ::-webkit-scrollbar:hover {
    width: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #c0c0c0;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #9d9d9d;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.69);
    width: 10px;
  }
  ::-webkit-scrollbar-button {
    height: 10px;
  }

}





@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-row-space-between() {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

@mixin border-top-bottom($width , $color) {
  border-top: $width solid $color;
  border-bottom: $width solid $color;
}

@mixin squrify($size) {
  width: $size !important;
  height: $size !important;
}

@mixin corneyfy($amount) {
  overflow: hidden;
  border-radius: $amount;
}

@mixin circlefy($size) {
  @include squrify($size);
  @include corneyfy(50%)
}

@mixin text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin hover-inverse {
  background: color($colors, dark);
  color: color($colors, light);
}

@mixin cardify() {
  width: 95%;
  margin: 10px auto;
  background: color($colors, lift);
  @include corneyfy(10px);
  .top-info-wrapper {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    border-bottom: 2px solid color($colors, light);
    padding: 10px 15px;
    p {
      margin: 0;
      font-size: 12px;
      color: color($colors, dark);
    }
  }

}

@mixin trade-card() {
  display: block;
  .trading-symbol-wrapper {
    padding: 10px 10px 0;
  }
  .trade-info {
    @include flex-center();
    justify-content: flex-start;
    margin: 10px 10px 15px;

    p {
      margin: 0;
      font-weight: bold;
      color: color($colors, shadeThree);
    }
  }
}

@mixin input-round() {
  background: white;
  border: 1px solid color($colors, shadeOne);
  padding: 5px 10px;
  @include corneyfy(8px);
}

@mixin scrip-header() {
  padding: 10px;
  border-bottom: 1px solid color($colors, shadeOne);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .scrip-name {
    color: color($colors, shadeThree);
    margin: 0;
    span {
      color: color($colors, shadeTwo);
    }
  }
  .client-name {
    margin: 0;
    color: color($colors, shadeTwo);

  }
}

@mixin cardify-item() {
  @include cardify();
  padding-bottom: 0;
  .label-ios {
    padding: 0 0 0 5px;
  }
  ion-input {
    margin: 5px 0 12px 0;
    input {
      margin: 0 !important;
      padding: 5px 8px;
      background: color($colors, light);
      border-radius: 8px;
      border: 1px solid color($colors, shadeOne);
    }
    input:focus {
      border: 1px solid color($colors, primary);
      background: color($colors, light) !important;
    }
  }
  .item-block .item-inner {
    border: none;
  }
}

@mixin positive-gradient() {
  background-color: #85FFBD !important;
  background-image: linear-gradient(10deg, #2ccd91 0%, #3dd69f 100%) !important;
  color: color($colors, light) !important;
}

@mixin danger-gradient() {
  background-color: #FF9A8B !important;
  background-image: linear-gradient(315deg, #FF9A8B 0%, #FF6A88 100%) !important;
  color: color($colors, light) !important;
}

@mixin danger-positive-normal-filled() {
  .normal {
    background: color($colors, light) !important;
    color: color($colors, dark) !important;
  }
  .danger {
    @include danger-gradient();
  }
  .positive {
    @include positive-gradient();
  }
}
@mixin danger-positive-normal-clear() {
  .normal {
    color: color($colors, dark) !important;
  }
  .danger {
    color: color($colors, danger) !important;
  }
  .positive {
    color: color($colors, positive) !important;
  }
}


/* Breakpoint Mixins */

$bp-babybear: "(max-width: 700px)";
$bp-mamabear: "(max-width: 1250px)";
$bp-papabear: "(max-width: 1600px)";

@mixin bp($point) {
  @media #{$point} {
    @content;
  }
}
